#root {
  padding: 2rem;
  text-align: center;
}

body {
  background: url('../assets/background.jpg') no-repeat center center fixed; /* 替换为您的背景图像路径 */
  background-size: cover; /* 覆盖整个背景 */
}

.transparent-container {
  background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  padding-top: 60px; /* 调整这个值以匹配你的 Navbar 高度 */
}